<h1>Listing Community-Specific Content</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @community_specifics.each do |community_specific| %>
      <tr>
        <td><%= community_specific.Content %></td>
        <td><%= community_specific.description %></td>
        <td><%= link_to 'Show', community_specific %></td>
        <td><%= link_to 'Edit', edit_community_specific_path(community_specific) %></td>
        <td><%= link_to 'Destroy', community_specific, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <tbody>
</table>

<br />

<%= link_to 'New Community-Specific Content', new_community_specific_path %>